<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Recover Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Recover Password</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-input type="text" labelPlacement="floating" [(ngModel)]="email">
        <div slot="label">Email</div>
      </ion-input>
    </ion-row>
    <ion-row>
      <ion-button color="primary" (click)="sendConfirmationCode()">Send</ion-button>
    </ion-row>
  </ion-grid>
</ion-content>
