<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Team
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Team</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngFor="let dev of devs">
    <app-dev-component [name]="dev.name" [role]="dev.role" [role_description]="dev.role_description" [picture]="dev.picture"></app-dev-component>
  </div>

</ion-content>
