<tr>
  <td>{{index + 1 + (page - 1) * itemsPerPage}}</td>
  <td>
    <div>
      <div class="coin_img">
        <img height="30" width="30" src={{crypto.image}}>
      </div>
      <div class="coin_mkc">
        <p class="ion-display-block">{{crypto.symbol | uppercase}}</p>
        <p class="ion-display-block">{{crypto.market_cap | abbreviateNumber}}</p>
      </div>
    </div>
  </td>
  <td class="crypto-price">{{crypto.current_price | currency}}</td>
  <td>
    <p [ngStyle]="{color: isValuePositive(crypto.price_change_percentage_24h) ? 'green' : 'red'}">{{crypto.price_change_percentage_24h | porcentageValue}}</p>
  </td>
</tr>