tr{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 98vw;
    box-shadow: 1px;

    td{
        margin: 1rem 1rem 1rem 0;
        div{
            display: flex;
            align-items: center;
            width: 30vw;
        
            .coin_mkc{
                display: flex;
                flex-direction: column;
                text-align: start;
                p{
                    margin: 0rem;
                    padding: 0;

                }
            }
        }
    }
    .crypto-price{
        text-align: center;
        width: 25vw;
    }
}