/* 
table{

    width: 90vw;
    margin: 0 auto;
    td > div{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    
        div{
            margin-right: 1rem;
            text-align: center;
        }
    }
    
    td{
        text-align: center;
        height: 5rem;
    
        p{
            margin: 0;
            padding: 0;
        }
    }
    
} */