<ion-grid>
  <ion-row class="ion-align-items-center">
    <ion-col size="9">
      <ion-searchbar animated="true" placeholder="bitcoin, tether" [(ngModel)]="searchQuery"></ion-searchbar>
    </ion-col>
    <ion-col size="3">
      <ion-select [(ngModel)]="order" placeholder="Order">
        <ion-select-option value="market_cap_desc">Market Cap Desc</ion-select-option>
        <ion-select-option value="volume_desc">Volume 24h Desc</ion-select-option>
        <ion-select-option value="id_asc">ID Asc</ion-select-option>
      </ion-select>
    </ion-col>
    <ion-col size="12" class="ion-text-center">
      <ion-button (click)="getMarketData()">Get Market Data</ion-button>
    </ion-col>

  </ion-row>

  <ion-row *ngIf="marketData.length > 0">
    <ion-col size="12">
      <table>
        <thead>
          <tr>
            <th>#</th>
            <th>Market Cap</th>
            <th>Price</th>
            <th>7d%</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let crypto of marketData; index as i">
            <td>{{i}}</td>

            <td>
              <div>
                <div class="coin_img">
                  <img height="30" width="30" src={{crypto.image}}>
                </div>
                <div class="coin_mkc">
                  <p class="ion-display-block">{{crypto.symbol | uppercase}}</p>
                  <p class="ion-display-block">{{crypto.market_cap | abbreviateNumber}}</p>
                </div>
              </div>
            </td>
            <td>{{crypto.current_price | currency}}</td>

            <td>
              <p [ngStyle]="{color: isValuePositive(crypto.price_change_percentage_24h) ? 'green' : 'red'}">{{crypto.price_change_percentage_24h | porcentageValue}}</p>
            </td>


          </tr>
        </tbody>
      </table>
    </ion-col>
  </ion-row>
</ion-grid>
