<ion-grid>
  <ion-row class="ion-align-items-center">
    <ion-col size="9">
      <ion-searchbar animated="true" placeholder="bitcoin, tether" [(ngModel)]="searchQuery"></ion-searchbar>
    </ion-col>
    <ion-col size="3">
      <ion-select [(ngModel)]="order" placeholder="Order">
        <ion-select-option value="market_cap_desc">Market Cap Desc</ion-select-option>
        <ion-select-option value="volume_desc">Volume 24h Desc</ion-select-option>
        <ion-select-option value="id_asc">ID Asc</ion-select-option>
      </ion-select>
    </ion-col>
    <ion-col size="12" class="ion-text-center">
      <ion-button (click)="fetchAllMarketData()">Get Market Data</ion-button>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="paginatedData.length > 0">
    <ion-col size="12">
      <table>
        <thead>
          <tr>
            <th>#</th>
            <th>Market Cap</th>
            <th>Price</th>
            <th>7d%</th>
          </tr>
        </thead>
        <tbody>
          <!-- <app-crypto-row *ngFor="let crypto of paginatedData; index as i" [crypto]="crypto" [index]="i" [page]="page" [itemsPerPage]="itemsPerPage"></app-crypto-row> -->
        </tbody>
      </table>
    </ion-col>
  </ion-row>

  <ion-row class="ion-align-items-center ion-justify-content-center" *ngIf="paginatedData.length > 0">
    <ion-col size="6" class="ion-text-center">
      <ion-button (click)="previousPage()" [disabled]="page <= 1">Previous</ion-button>
      <ion-button (click)="nextPage()" [disabled]="(page * itemsPerPage) >= marketData.length">Next</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
